@page "/authors"
@page "/authors/page/{page:int}"
<PageTitle>Authors | Reading List</PageTitle>

@inject ILoggingService Logging

<h5 class="bg-primary text-white text-center p-2">Authors</h5>

<table class="table table-sm table-striped table-bordered">
    <thead><tr><th>ID</th><th>Name</th><th>Books</th><th></th></tr></thead>
    <tbody>
        @if (Authors.Count() == 0)
        {
            <tr><th colspan="5" class="p-4 text-center">@NoBooksMsg</th></tr>
        }
        else
        {
            @foreach (AuthorDTO a in Authors)
            {
                <tr>
                    <td>@a.Id</td>
                    <td>@a.Name</td>
                    <td>@a.Books</td>
                    <td class="text-center">
                        <AuthorizeView Roles="Admin">
                            <NavLink class="btn btn-sm btn-warning" href="@GetEditUrl(a.Id)">Edit</NavLink>
                            <NavLink class="btn btn-sm btn-danger" href="@GetDeleteUrl(a.Id)">Delete</NavLink>
                        </AuthorizeView>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<PageNavBar TotalItems="@TotalAuthors" CurrentPageNumber="@Page" ItemsPerPage="@PageSize" NavUrl="/authors/page/" />

<AuthorizeView Roles="Admin">
    <NavLink class="btn btn-primary" href="authors/create">Create</NavLink>
</AuthorizeView>


@code
{
    [Parameter]
    public int Page { get; set; } = 1;

    public int PageSize { get; set; } = 10;
    public int TotalAuthors { get; set; }

    [Inject]
    public HttpClient? Http { get; set; }

    public AuthorDTO[] Authors { get; set; } = Array.Empty<AuthorDTO>();

    private string NoBooksMsg { get; set; } = "Loading Data...";


    protected async override Task OnParametersSetAsync()
    {
        Logging.Log($"\r\n\r\n\r\nAuthorsList OnParametersSetAsync - Page: {Page}.");
        if (Page < 1)
        {
            Page = 1;
        }
        await UpdateData();
    }

    private async Task UpdateData()
    {
        if (Http != null)
        {
            Pagination? pagination = await Http.GetFromJsonAsync<Pagination>("/api/r1/pagination/authors");

            TotalAuthors = pagination?.TotalItems ?? 0;

            if (TotalAuthors == 0)
            {
                NoBooksMsg = "No authors as of yet...";
            }
            else
            {
                //Logging.Log($"Page: {Page}.");

                PageSize = pagination?.PageSize ?? 10;
                //Logging.Log($"PageSize: {PageSize}.");

                Authors = await Http.GetFromJsonAsync<AuthorDTO[]>($"/api/r1/authors/page/{Page}") ?? Array.Empty<AuthorDTO>();
            }
        }
    }

    string GetEditUrl(long id) => $"authors/edit/{id}";
    string GetDeleteUrl(long id) => $"authors/delete/{id}";
}