@page "/books"
@page "/books/page/{page:int}"
@page "/books/page/{page:int}/filter/{startsWith}"
<PageTitle>Books | Page @Page | Reading List</PageTitle>

@inject ILoggingService Logging
@inject NavigationManager Navigation

<h5 class="bg-primary text-white text-center p-2">Books</h5>

<div class="books-filter">
    <InputText @bind-Value="StartsWith" type="search" @onkeyup="HandleKeyUp" />
    <NavLink class="btn-primary" href="@GetFilterUrl()"><i class="fa fa-search"></i></NavLink>
</div>

<table class="table table-sm table-striped table-bordered">
    <thead><tr><th>ID</th><th>Cover</th><th>Title</th><th>Author</th><th></th></tr></thead>
    <tbody>
        @if (Books.Count() == 0)
        {
            <tr><th colspan="5" class="p-4 text-center">@NoBooksMsg</th></tr>
        }
        else
        {
            @foreach (BookDTO b in Books)
            {
                <tr>
                    <td>@b.Id</td>
                    <td><img class="rounded img-fluid img-max" src="@b.ImageUrl" /></td>
                    <td>@b.Name</td>
                    <td>@b.Author</td>
                    <td class="text-center book-list-buttons">
                        <NavLink class="btn btn-sm btn-info" href="@GetDetailsUrl(b.Id)">Details</NavLink>
                        <AuthorizeView Roles="Admin">
                            <NavLink class="btn btn-sm btn-warning" href="@GetEditUrl(b.Id)">Edit</NavLink>
                            <NavLink class="btn btn-sm btn-danger" href="@GetDeleteUrl(b.Id)">Delete</NavLink>
                        </AuthorizeView>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<PageNavBar TotalItems="@TotalBooks" CurrentPageNumber="@Page" ItemsPerPage="@PageSize" NavUrl="/books/page/" />

<AuthorizeView Roles="Admin">
    <NavLink class="btn btn-primary" href="books/create">Create</NavLink>
</AuthorizeView>


@code
{
    [Parameter] public int Page { get; set; } = 1;
    [Parameter] public string StartsWith { get; set; } = string.Empty;

    public int PageSize { get; set; } = 10;
    public int TotalBooks { get; set; }

    [Inject]
    public HttpClient? Http { get; set; }

    public BookDTO[] Books { get; set; } = Array.Empty<BookDTO>();

    private string NoBooksMsg { get; set; } = "Loading Data...";


    protected async override Task OnParametersSetAsync()
    {
        Logging.Log($"\r\n\r\n\r\nBooksList OnParametersSetAsync - Page: {Page}.");
        if (Page < 1)
        {
            Page = 1;
        }
        await UpdateData();
    }

    private async Task UpdateData()
    {
        //Logging.Log("UpdateData...");
        if (Http != null)
        {
            Pagination? pagination = await Http.GetFromJsonAsync<Pagination>("/api/r1/pagination/books");

            TotalBooks = pagination?.TotalItems ?? 0;
            //Logging.Log($"TotalBooks: {TotalBooks}.");

            if (TotalBooks == 0)
            {
                NoBooksMsg = "No books as of yet...";
            }
            else
            {
                //Logging.Log($"Page: {Page}.");

                PageSize = pagination?.PageSize ?? 10;
                //Logging.Log($"PageSize: {PageSize}.");

                if (string.IsNullOrWhiteSpace(StartsWith))
                {
                    Books = await Http.GetFromJsonAsync<BookDTO[]>($"/api/r1/books/page/{Page}") ?? Array.Empty<BookDTO>();
                }
                else
                {
                    Books = await Http.GetFromJsonAsync<BookDTO[]>($"/api/r1/books/listfilter/{Uri.EscapeDataString(StartsWith)}") ?? Array.Empty<BookDTO>();

                }
            }
        }
    }

    private void HandleKeyUp(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            if (string.IsNullOrWhiteSpace(StartsWith))
            {
                Navigation.NavigateTo($"/books/page/{Page}");
            }
            else
            {
                Navigation.NavigateTo(GetFilterUrl());
            }
        }
        else if (e.Key == "Escape")
        {
            StartsWith = string.Empty;
        }
    }

    string GetDetailsUrl(long id) => $"books/page/{Page}/details/{id}";
    string GetEditUrl(long id) => $"books/page/{Page}/edit/{id}";
    string GetDeleteUrl(long id) => $"books/page/{Page}/delete/{id}";
    string GetFilterUrl(){
        if (string.IsNullOrWhiteSpace(StartsWith))
        {
            return $"books/page/{Page}";
        }
        else
        {
            return $"books/page/{Page}/filter/{Uri.EscapeDataString(StartsWith)}";
        }
    } 
}
