@if (Book != null)
{
    <div class="book-details">
        <span @onclick="@GoToStartDate" class="title">@Book.Name</span>
        <div class="coverContainer">
            <AuthorizeView Roles="Admin">
                <Authorized>
                    <NavLink href="@GetEditUrl(Book.Id)">
                        <img class="coverImage" src="@Book.ImageUrl" alt="cover art" />
                    </NavLink>
                </Authorized>
                <NotAuthorized>
                    <NavLink href="@GetDetailsUrl(Book.Id)">
                        <img class="coverImage" src="@Book.ImageUrl" alt="cover art" />
                    </NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>
        <div>
            <div @onclick="@GoToStartDate" style="margin-top: 1rem;">Read Dates: &nbsp;&nbsp;@Book.ReadDates</div>
            @if (@Book.Author != null)
            {
                <div>Author: &nbsp;&nbsp;<NavLink class="text-reset text-decoration-none" href="@GetAuthorUrl(@Book.Author ?? string.Empty)">@Book.Author</NavLink></div>
            }
            @if (@Book.Tags != null)
            {
                <div>Tags: &nbsp;&nbsp;<NavLink class="text-reset text-decoration-none" href="@GetTagUrl(@Book.Tags ?? string.Empty)">@Book.Tags</NavLink></div>
            }
            @if (@Book.ISBN != null)
            {
                <div @onclick="@GoToStartDate">ISBN: &nbsp;&nbsp;@Book.ISBN</div>
            }
            @if (@Book.Sequence != null)
            {
                <div @onclick="@GoToStartDate">Sequence: &nbsp;&nbsp;@Book.Sequence</div>
            }
            @if (@Book.Rating > 0)
            {
                <div @onclick="@GoToStartDate" class="rating">Rating: &nbsp;&nbsp;<Rating IsReadOnly="true" IsCompact="true" StarCount=@Book.Rating /></div>
            }
            @if (@Book.Source != null)
            {
                <div @onclick="@GoToStartDate">Source: &nbsp;&nbsp;@Book.Source</div>
            }
            @if (@Book.Recommend)
            {
                <div @onclick="@GoToStartDate">Recommend: &nbsp;&nbsp;@Book.Recommend</div>
            }
        </div>
    </div>
}


@code
{
    [Parameter, EditorRequired] public ITimelineItem? Book { get; set; }

    [Inject]
    public NavigationManager? NavManager { get; set; }


    private string GetAuthorUrl(string authorName) => $"authors/page/1/filter/{authorName}";
    private string GetTagUrl(string tagData) => $"tags/page/1/filter/{tagData.Split("; ")[0]}";

    private string GetEditUrl(long id) => $"books/page/1/edit/{id}";
    private string GetDetailsUrl(long id) => $"books/page/1/details/{id}";

    private void GoToStartDate()
    {
        if (Book?.ReadDate == default)
        {
            NavManager?.NavigateTo("timeline", true);
        }
        else
        {
            string sDate = Book?.ReadDate.ToString("yyyy-MM-dd") ?? string.Empty;
            NavManager?.NavigateTo($"/timeline/{sDate}", true);
        }
    }
}
