@page "/sources"
@page "/sources/list"

<PageTitle>Sources | Reading List</PageTitle>
<h5 class="bg-primary text-white text-center p-2">Sources</h5>

<table class="table table-sm table-striped table-bordered">
    <thead><tr><th>ID</th><th>Name</th><th>Books</th><th></th></tr></thead>
    <tbody>
        @if (Sources.Count() == 0)
        {
            <tr><th colspan="5" class="p-4 text-center">No tags as of yet.</th></tr>
        }
        else
        {
            @foreach (SourceDTO s in Sources)
            {
                <tr>
                    <td>@s.Id</td>
                    <td>@s.Name</td>
                    <td>
                        @if (s.Books != null)
                        {
                            string[] books = s.Books.Split("; ");
                            int i = 0;

                            foreach (string sString in books)
                            {
                                i++;

                                string[] strings = sString.Split('~');
                                if (strings.Length == 2)
                                {
                                    _ = long.TryParse(strings[0], out long id);
                                    string title = strings[1];

                                    <NavLink class="text-reset text-decoration-none" href="@GetBookDetailsUrl(id)"> @title</NavLink>

                                    if (i < books.Length)
                                    {
                                        <text>; </text>
                                    }
                                }
                            }
                        }

                    </td>
                    <td class="text-center">
                        <AuthorizeView Roles="Admin">
                            <NavLink class="btn btn-sm btn-warning" href="@GetEditUrl(s.Id)">Edit</NavLink>
                            <button class="btn btn-sm btn-danger" @onclick="@(() => HandleDelete(s))">Delete</button>
                        </AuthorizeView>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<Popup @ref="popup" />

<AuthorizeView Roles="Admin">
    <NavLink class="btn btn-primary" href="sources/create">Create</NavLink>
</AuthorizeView>


@code {

    [Inject]
    public HttpClient? Http { get; set; }

    public SourceDTO[] Sources { get; set; } = Array.Empty<SourceDTO>();

    private Popup? popup;

    protected async override Task OnInitializedAsync()
    {
        await UpdateData();
    }

    private async Task UpdateData()
    {
        if (Http != null)
        {
            Sources = await Http.GetFromJsonAsync<SourceDTO[]>("/api/r1/sources") ?? Array.Empty<SourceDTO>();
        }
    }


    string GetBookDetailsUrl(long id) => $"books/page/1/details/{id}";

    string GetEditUrl(long id) => $"sources/edit/{id}";

    public async Task HandleDelete(SourceDTO s)
    {
        if (Http != null)
        {
            HttpResponseMessage response = await Http.DeleteAsync($"/api/r1/sources/{s.Id}");
            if (response.IsSuccessStatusCode)
            {
                await UpdateData();
            }
            else
            {
                var errorResponse = await response.Content.ReadFromJsonAsync<string>();
                popup?.Show($"There was an error deleting this source: {errorResponse}", "Error on Delete");
            }
        }
    }
}
