@page "/stats"
<PageTitle>Stats | Reading List</PageTitle>

@inject ILoggingService Logging


<h5 class="bg-primary text-white text-center p-2">Stats</h5>



<ApexChart @ref="uniqueBooksReadChart"
           TItem="UniqueBooksRead"
           Options="uniqueBooksReadChartOptions"
           Title="Unique Books Read To Date">

    <ApexPointSeries TItem="UniqueBooksRead"
                     Items="uniqueBookReads"
                     Name="Unique Books"
                     SeriesType="SeriesType.Bar"
                     XValue="b => b.ReadDate"
                     YValue="b => b.BooksRead" />

</ApexChart>



<ApexChart @ref="booksReadPerYearChart"
           TItem="BooksReadPerYear"
           Options="booksReadPerYearChartOptions"
           Title="Books Read Per Year">

    <ApexPointSeries TItem="BooksReadPerYear"
                     Items="booksReadPerYear"
                     Name="Books Read"
                     SeriesType="SeriesType.Bar"
                     XValue="b => b.Year"
                     YValue="b => b.BooksRead" />

</ApexChart>


<ApexChart @ref="booksPerRatingChart"
           TItem="BooksPerRating"
           Options="booksPerRatingChartOptions"
           Title="Books per Rating">

    <ApexPointSeries TItem="BooksPerRating"
                     Items="booksPerRating"
                     Name="Books Per Rating"
                     SeriesType="SeriesType.Bar"
                     XValue="b => b.Rating"
                     YValue="b => b.Books" />

</ApexChart>


<div style="margin-top: 5rem;">

    @if (LongestUnread.Count() == 0)
    {
        <div>Loading Data...</div>
    }
    else
    {
        <h5 style="margin-bottom: 2rem;" class="bg-primary text-white p-2">Longest Unread:</h5>

        <ul>
            @foreach (TimelineDTO b in LongestUnread)
            {
                <li>
                    <div style="clear: left;"><span class="title">@b.Name</span></div>
                    <div class="row">
                        <div class="col-md-4">
                            <AuthorizeView Roles="Admin">
                                <Authorized>
                                    <NavLink href="@GetEditUrl(b.Id)">
                                        <img class="coverImage" src="@b.ImageUrl" alt="cover art" />
                                    </NavLink>
                                </Authorized>
                                <NotAuthorized>
                                    <NavLink href="@GetDetailsUrl(b.Id)">
                                        <img class="coverImage" src="@b.ImageUrl" alt="cover art" />
                                    </NavLink>
                                </NotAuthorized>
                            </AuthorizeView>
                        </div>
                        <div class="col-md-7">
                            <div style="margin-top: 1em;">Last Read Date: &nbsp;&nbsp;@b.ReadDate</div>
                            @if (@b.Author != null)
                            {
                                <div>Author: &nbsp;&nbsp;<NavLink class="text-reset text-decoration-none" href="@GetAuthorUrl(@b.Author ?? string.Empty)">@b.Author</NavLink></div>
                            }
                            @if (@b.Tags != null)
                            {
                                <div>Tags: &nbsp;&nbsp;<NavLink class="text-reset text-decoration-none" href="@GetTagUrl(@b.Tags ?? string.Empty)">@b.Tags</NavLink></div>
                            }
                            @if (@b.ISBN != null)
                            {
                                <div>ISBN: &nbsp;&nbsp;@b.ISBN</div>
                            }
                            @if (@b.Sequence != null)
                            {
                                <div>Sequence: &nbsp;&nbsp;@b.Sequence</div>
                            }
                            @if (@b.Rating > 0)
                            {
                                <div class="rating">Rating: &nbsp;&nbsp;<Rating IsReadOnly="true" IsCompact="true" StarCount=@b.Rating /></div>
                            }
                            @if (@b.Source != null)
                            {
                                <div>Source: &nbsp;&nbsp;@b.Source</div>
                            }
                            @if (@b.Recommend)
                            {
                                <div>Recommend: &nbsp;&nbsp;@b.Recommend</div>
                            }
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-sm btn-danger mt-2" @onclick="@(() => Hide(b.Id))">Hide</button>
                        </div>
                    </div>
                </li>
            }
        </ul>
    }
</div>



@code {

    private ApexChartOptions<UniqueBooksRead> uniqueBooksReadChartOptions = new()
    {
        Chart = new Chart
        {
            Height = 350,
            OffsetY = 20,
            Type = ChartType.Bar
        },
        PlotOptions = new()
        {
            Bar = new()
            {
                Horizontal = true,
                BarHeight = "25%"
            }
        },
        Colors = new()
        {
            "#17265d"
        },
        Grid = new()
        {
            Padding = new()
            {
                Left = 10,
                Right = 10,
                Top = 10,
                Bottom = 10
            }
        },
        Xaxis = new XAxis
        {
            Title = new AxisTitle { Text = "Unique Books Read" }
        },
        Yaxis = new List<YAxis>
        {
            new YAxis
            {
                Title = new AxisTitle { Text = "As Of" },
                Min = 0,
                Max = 2000
            }
        }
    };



    private ApexChartOptions<BooksPerRating> booksPerRatingChartOptions = new()
    {
        Chart = new Chart
        {
            Height = 350,
            OffsetY = 20,
            Type = ChartType.Bar
        },
        PlotOptions = new()
        {
            Bar = new()
            {
                Horizontal = true,
                BarHeight = "50%"
            }
        },
        Colors = new()
        {
            "#17265d"
        },
        Grid = new()
        {
            Padding = new()
            {
                Left = 10,
                Right = 10,
                Top = 10,
                Bottom = 10
            }
        },
        Xaxis = new XAxis
        {
            Title = new AxisTitle { Text = "Books" }
        },
        Yaxis = new List<YAxis>
        {
            new YAxis
            {
                Title = new AxisTitle { Text = "Rating" },
                Min = 0,
                Max = 500
            }
        }
    };



    private ApexChartOptions<BooksReadPerYear> booksReadPerYearChartOptions = new()
    {
        Chart = new Chart
        {
            Height = 350,
            OffsetY = 20,
            Type = ChartType.Bar
        },
        Colors = new()
        {
            "#447545"
        },
        Grid = new()
        {
            Padding = new()
            {
                Left = 10,
                Right = 10,
                Top = 10,
                Bottom = 10
            }
        },
        Xaxis = new XAxis
        {
            Title = new AxisTitle { Text = "Year" },
            Min = 1988,
            Max = DateTime.Now.Year
        },
        Yaxis = new List<YAxis>
        {
            new YAxis
            {
                Title = new AxisTitle { Text = "Books Read" },
                Min = 0,
                Max = 200
            }
        }
    };




    [Inject]
    public HttpClient? Http { get; set; }

    public List<TimelineDTO> LongestUnread { get; set; } = [];

    private ApexChart<UniqueBooksRead>? uniqueBooksReadChart;
    private ApexChart<BooksReadPerYear>? booksReadPerYearChart;
    private ApexChart<BooksPerRating>? booksPerRatingChart;


    private List<UniqueBooksRead> uniqueBookReads { get; set; } = [];
    private List<(int Year, int Count)> uniqueBooksReadData { get; set; } = [];

    private int uniqueBooksReadCount { get; set; } = 0;
    private DateOnly asOfDate { get; set; } = DateOnly.FromDateTime(DateTime.Now);

    private List<BooksReadPerYear> booksReadPerYear { get; set; } = [];
    private List<BooksPerRating> booksPerRating { get; set; } = [];



    protected async override Task OnInitializedAsync()
    {
        if (Http == null)
        {
            throw new InvalidOperationException("HttpClient not initialized.");
        }


        uniqueBooksReadCount = await Http.GetFromJsonAsync<int>($"/api/r1/stats/uniqueBooksReadCount/{asOfDate:yyyy-MM-dd}");
        uniqueBookReads.Add(new() { ReadDate = asOfDate, BooksRead = uniqueBooksReadCount });

        booksReadPerYear.AddRange(await Http.GetFromJsonAsync<List<BooksReadPerYear>>("/api/r1/stats/booksReadPerYear") ?? new List<BooksReadPerYear>());

        booksPerRating.AddRange(await Http.GetFromJsonAsync<List<BooksPerRating>>("/api/r1/stats/booksPerRating") ?? new List<BooksPerRating>());

        //Logging.Log($"booksReadPerYear Count: {booksReadPerYear.Count}");

        if (uniqueBooksReadChart is not null)
        {
            await uniqueBooksReadChart.UpdateSeriesAsync(true);
        }

        if (booksReadPerYearChart is not null)
        {
            await booksReadPerYearChart.UpdateSeriesAsync(true);
        }

        if (booksPerRatingChart is not null)
        {
            await booksPerRatingChart.UpdateSeriesAsync(true);
        }

        await UpdateLongestUnreadData();
    }

    private async Task UpdateLongestUnreadData()
    {
        if (Http == null)
        {
            throw new InvalidOperationException("HttpClient not initialized.");
        }

        LongestUnread = await Http.GetFromJsonAsync<List<TimelineDTO>>("/api/r1/stats/longestUnread") ?? new List<TimelineDTO>();
    }

    public async Task Hide(long BookId)
    {
        if (Http == null)
        {
            throw new InvalidOperationException("HttpClient not initialized.");
        }

        var response = await Http.PostAsJsonAsync($"/api/r1/stats/hideFromLongestUnread/{BookId}", BookId);
        if (response.IsSuccessStatusCode)
        {
            await UpdateLongestUnreadData();
        }
    }

    private string GetEditUrl(long id) => $"books/page/1/edit/{id}";
    private string GetDetailsUrl(long id) => $"books/page/1/details/{id}";

    private string GetAuthorUrl(string authorName) => $"authors/page/1/filter/{authorName}";
    private string GetTagUrl(string tagData) => $"tags/page/1/filter/{tagData.Split("; ")[0]}";
}
