@page "/tags"
@page "/tags/page/{page:int}"
<PageTitle>Tags | Reading List</PageTitle>

@inject ILoggingService Logging

<h5 class="bg-primary text-white text-center p-2">Tags</h5>

<table class="table table-sm table-striped table-bordered">
    <thead><tr><th>ID</th><th>Data</th><th>Books</th><th></th></tr></thead>
    <tbody>
        @if (Tags.Count() == 0)
        {
            <tr><th colspan="5" class="p-4 text-center">@NoTagsMsg</th></tr>
        }
        else
        {
            @foreach (TagDTO t in Tags)
            {
                <tr>
                    <td>@t.Id</td>
                    <td>@t.Data</td>
                    <td>@t.Books</td>
                    <td class="text-center">
                        <AuthorizeView Roles="Admin">
                            <NavLink class="btn btn-sm btn-warning" href="@GetEditUrl(t.Id)">Edit</NavLink>
                            <button class="btn btn-sm btn-danger" @onclick="@(() => HandleDelete(t))">Delete</button>
                        </AuthorizeView>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<PageNavBar TotalItems="@TotalTags" CurrentPageNumber="@Page" ItemsPerPage="@PageSize" NavUrl="/tags/page/" />

<AuthorizeView Roles="Admin">
    <NavLink class="btn btn-primary" href="tags/create">Create</NavLink>
</AuthorizeView>


@code
{
    [Parameter]
    public int Page { get; set; } = 1;

    public int PageSize { get; set; } = 10;
    public int TotalTags { get; set; }

    [Inject]
    public HttpClient? Http { get; set; }

    public TagDTO[] Tags { get; set; } = Array.Empty<TagDTO>();

    private string NoTagsMsg { get; set; } = "Loading Data...";

    protected async override Task OnParametersSetAsync()
    {
        Logging.Log($"TagsList OnParametersSetAsync - Page: {Page}.");
        if (Page < 1)
        {
            Page = 1;
        }
        await UpdateData();
    }

    private async Task UpdateData()
    {
        if (Http != null)
        {
            Pagination? pagination = await Http.GetFromJsonAsync<Pagination>("/api/r1/pagination/tags");

            TotalTags = pagination?.TotalItems ?? 0;
            if (TotalTags == 0)
            {
                NoTagsMsg = "No tags as of yet.";
            }
            else
            {
                //Logging.Log($"Page: {Page}.");

                PageSize = pagination?.PageSize ?? 10;
                //Logging.Log($"PageSize: {PageSize}.");

                Tags = await Http.GetFromJsonAsync<TagDTO[]>($"/api/r1/tags/page/{Page}") ?? Array.Empty<TagDTO>();
            }
        }
    }

    string GetEditUrl(long id) => $"tags/edit/{id}";

    public async Task HandleDelete(TagDTO t)
    {
        if (Http != null)
        {
            HttpResponseMessage resp = await Http.DeleteAsync($"/api/r1/tags/{t.Id}");
            if (resp.IsSuccessStatusCode)
            {
                await UpdateData();
            }
        }
    }
}